.articleList {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  width: 100%;
  margin: 150px 0;
  padding: 0 30px;
}

.articleListItem {
  width: 300px;
  height: 180px;
  margin: 3px;
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
  word-wrap: break-word;
  position: relative;
  border-radius: 5px;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.articleListItemTitle {
  margin: 15px;
  position: absolute;
  word-break: break-all;
  font-size: 215%;
}

.articleListItemDate {
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-size: 123.1%;
}

.articleDetail {
  box-sizing: border-box;
  width: 100%;
  margin: 150px 0;
  padding: 0 30px;
}

.markdownBody {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  min-height: 980px;
  padding: 45px;
}
