.header {
  width: 100%;
  z-index: -1;
  position: fixed;
  top: 55px;
}

.header a {
  color: #009933;
  vertical-align: middle;
  font-size: 230%;
  top: 55px;
  height: 100px;
}

@media (max-width: 550px) {
  .header {
    text-align: center;
  }
}

@media (min-width: 550px) and (max-width: 850px) {
  .header {
    text-align: right;
  }
}

@media (min-width: 850px) {
  .header {
    text-align: center;
  }
}
