.articleList {
  display: flex;
  flex-flow: row, wrap;
  width: 100%;
  margin: 150px 30px;
}

.articleListItem {
  width: 300px;
  height: 180px;
  margin: 3px;
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
  word-wrap: break-word;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 10px 6px -6px #777;
}

.articleListItemTitle {
  margin: 15px;
  position: absolute;
  word-break: break-all;
  font-size: 215%;
}

.articleListItemDate {
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-size: 123.1%;
}

.articleDetail {
  width: 100%;
  min-height: 980px;
  margin: 150px 30px 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 10px 6px -6px #777;
}

.markdownBody {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    padding: 45px;
}
